{{> navbar name}}
<h3>Find Events</h3>


<ul>
    {{#each events}}
    <li>
        <a href="/events/{{ this._id}}">
            {{ this.title}}<span> - {{ this.description }}</span>
        </a>
    </li>
    {{/each }}
</ul>

<a href="/events/new">Create own event</a>