{{> navbar user}}

<h2 data-i18n="event.find">Find Events</h2>

<div class="search-container">
    <div class="filter-container">
        <form action="/events/find" method="POST" id="form-container">
            <div class="form-group">
                <label for="language" data-i18n="event.language">Language</label>
                <select name="language" class="search selection" multiple="" id="multi-select-learning">
                    <option value="" data-i18n="event.selectLanguage">Select a language</option>
                </select>
                <label for="country" data-i18n="event.country">Country</label>
                <select class="ui search selection dropdown" name="country" id="user-country">
                    <option value="" data-i18n="event.country">Country</option>
                </select>
                <label for="city" data-i18n="event.city">City:</label>
                <input type="text" name="city" placeholder="" value="">
                <label for="minDate" data-i18n="event.from">From:</label>
                <input type="date" name="minDate">
                <label for="maxDate" data-i18n="event.to">To:</label>
                <input type="date" name="maxDate">
            </div>
            </br>
            <input type="submit" value="Find Events" class="success-btn">
        </form>
        </br>
        <a href="/events/new" class="white-btn" data-i18n="event.createEvent">Create new event</a>
    </div>

    <div class="results-container">
        <ul>
            {{#each events}}
            <div class="tile-interactive event" id="{{this.id}}">
                {{> event_tile this}}
            </div>
            {{/each }}
        </ul>
    </div>
</div>

<script>const user = {{{ userString }}}</script>
<script src='/javascripts/data.js'></script>
<script src='/javascripts/user-info.js'></script>
<script src='/javascripts/tile.js'></script>
<script src='/javascripts/util/language-init.js'></script>
<script src='/javascripts/util/country-init.js'></script>
<script>let eventId = null</script>