{{> navbar user}}
<h3>Find Events</h3>

<a href="/events/new">Create own event</a>
<div class="vert-container">
    <div class="filter-container">
        Filter options
    </div>
    <div class="results-container">
        <ul>
            {{#each events}} {{> event_tile this}} {{/each }}
        </ul>
    </div>
</div>