<script>let eventId = null</script> {{> navbar user}}
<h3>Find Events</h3>

<div class="search-container">
    <div class="filter-container">
        <form action="/events/find" method="POST" id="form-container">
            <label for="language">Language</label>
            <input type="text" name="language" placeholder="Main lagnuage of the event" value="">
            <label for="country">Country</label>
            <input type="text" name="country" placeholder="Country" value="">
            <label for="city">City:</label>
            <input type="text" name="city" placeholder="City" value="">
            <!-- <label for="minDate">From:</label>
            <input type="date" name="minDate" placeholder="Min. age">
            <label for="axDate">To:</label>
            <input type="date" name="maxDate" placeholder="Max. age">-->
            <input type="submit" value="Find Events">
        </form>
        <a href="/events/new">Create own event</a>
    </div>
    <div class="results-container">
        <ul>
            {{#each events}} {{> event_tile this}} {{/each }}
        </ul>
    </div>
</div>