{{> navbar user}}
<script src='/javascripts/tile.js'></script>

<h2>My events</h2>
<div class="flex-column-center">
    <ul>
        {{#each events}}
        <div class="tile-interactive event" id="{{this.id}}">
            {{> event_tile this}}
        </div>{{/each }}
    </ul>
    <br>
    <a href="/events/new">Create new event</a>
</div>