{{> navbar user}}
<script src='/javascripts/tile.js'></script>

<h3>
    My events
</h3>
<div class="content-wrapper">
    <ul>
        {{#each events}}
        <div class="tile-interactive event" id="{{this.id}}">
            {{> event_tile this}}
        </div>{{/each }}
    </ul>
    <br>
    <a href="/events/new">Create new event</a>
</div>