<h2>Login</h2>

<div class="flex-column-center">
  <form action="/login" method="POST" id="form-container">

    <div class="form-group">
      <label for="email">Email</label>
      <input id="email" type="text" name="email" placeholder="jon@snow.com">
      <label for="password">Password</label>
      <input id="password" type="password" name="password" placeholder="Your password">
    </div>

    </br> {{#if message }}
    <div class="error-message">{{ message }}</div>
    {{/if}}
    </br>

    <div class="form-group">
      <button class="success-btn">Log in</button>
      </br>
      <p class="account-message">
        Don't have an account yet?
        <a href="/signup">Sign up</a>
      </p>
    </div>
  </form>
</div>