<img src="/images/{{user.picture}}"> <br>Name: {{user.name}} <br>Age: {{user.age}}

<br><br> {{#if user.ownProfile}}
<a href="/profile/edit">Edit</a><br>
<a href="/delete/">Delete Account</a><br> {{/if}}