<div class="tile-dashboard">
  <div class="tile-image">
    <img src={{this.picture}} alt="event picture">
  </div>
  <div class="tile-content">
    <a href="/events/{{this._id}}">{{this.title}}</a>
    <p>{{this.date}}</p>
  </div>
</div>