<nav>
  <div class="nav-group left">
    <div class="nav-img">
      <img id="logo" src="/images/temp-logo.png" alt="logo">
    </div>
    <div class="nav-route-links">
      <a href="/events/find">Find Events</a>
      <a href="/tandems/find">Find Tandems</a>
    </div>
  </div>
  <div class="nav-group right">
    <div id="nav-name-container">
      <p id="nav-user-name">{{this.name}}</p>
    </div>
    <div class="ui dropdown">
      <div class="nav-img">
        <img id="nav-avatar" src="{{this.picture}}" alt="profile">
      </div>
      <div class="menu">
        <div class="item" data-value="profile">My profile</div>
        <div class="item" data-value="logout">Log out</div>
      </div>
    </div>
  </div>
</nav>