<nav>
  <div class="nav-container">
    <img src="" alt="logo">
    <div class="nav-route-links">
      <a href="">Find Events</a>
      <a href="">Find Tandems</a>
    </div>
  </div>
  <div class="nav-container">
    <a href="#">My profile</a>
  </div>
</nav>