<nav>
  <div class="nav-group left">
    <img src="images/temp-logo.png" alt="logo">
    <div class="nav-route-links">
      <a href="">Find Events</a>
      <a href="">Find Tandems</a>
    </div>
  </div>
  <div class="nav-group right">
    <img src="images/placeholderProfile.png" alt="profile">
  </div>
</nav>