<div class="tile-dashboard">
  <div class="tile-image"> <img src={{this.picture}} alt="profile picture">
  </div>
  <div class="tile-content">
    <a href="/tandems/{{this._id}}">{{this.name}}</a>
    <p class="message-time">Last message time and date here</p>
  </div>
</div>