<div class="tile-dashboard">
  <div class="tile-image"> <img src={{this.user.picture}} alt="profile picture">
  </div>
  <div class="tile-content">
    <a href="/tandems/{{this.user._id}}">{{this.user.name}}</a>
    <p class="message-time">{{this.dateStr}}</p>
  </div>
</div>