<img src="{{picture}}">
<h3>My Tandems</h3>
<ul> {{#each tandems}}
    <li>{{this.name}}</li>
    {{/each}}
</ul>
<h3>My Event</h3>
<ul> {{#each events}}
    <li>{{this.title}}</li>
    {{/each}}
</ul>