{{> navbar user}}
<script src="/javascripts/dashboard.js"></script>
<h1>Hi {{user.name}}!</h1>

<div class="dashboard-wrapper">
    <div class="dashboard-group">

        <div class="image-wrapper"><img src="/images/dashboard-background-1.jpg"></div>
        {{!--
        <div class="image-wrapper"><img src="{{picture}}"></div> --}}
    </div>
    <div class="dashboard-group">
        <h3>My Tandems</h3>
        {{#if tandems}}
        <ul>
            {{#each tandems}} {{> tandem_tile_small this}} {{/each}}
        </ul>
        {{#if tandemsMore}}
        <button class="white-btn" id="more-tandems">More...</button>
        {{/if}} {{else}}
        <p>You have no ongoing conversations. <a href="/tandems/find">Find somebody to practice a language with here</a></p>
        {{/if}}
    </div>
    <div class="dashboard-group">
        <h3>My Events</h3>
        {{#if events}}
        <ul>
            {{#each events}} {{> event_tile_small this}} {{/each}}
        </ul> {{#if eventsMore}}
        <button class="white-btn" id="more-events">More...</button>
        {{/if}} {{else}}
        <p>You are not subscribed to any upcoming events. <a href=" /events/find">Find an event here</a></p>
        {{/if}}
    </div>
</div>