<script src='/javascripts/landing-page.js'></script>
<div class="center">
  <div class="content-wrapper">
    {{!-- <img src="/images/temp-logo.png"> --}}
    <h1>{{title}}</h1>
    <h2>Talk with others in your and their language</h2>
    <div class="menu-container">
      <button class="success-btn" id="login">Log in</button>
      <button class="success-btn" id="signup">Create account</button>
    </div>
  </div>
</div>