$chat-height: calc(100vh - #{$navbar-height} - 320px);

.flex-column-center.event {
  flex-direction: column;
  justify-content: center;
  @media #{$screen-middle-large} {
    align-items: flex-start;
    flex-direction: row;
  }
  .flex-column {
    a {
      margin-left: 5px;
    }
    margin: 4px;

    //justify-content: flex-start;
    justify-content: space-between;
    // background-color: aquamarine;
    height: 560px;
    .flex-column {
      justify-content: flex-start;
      .flex-row {
        .description {
          height: 100%;
          padding: 0 4px;
        }
        margin-bottom: 8px;
      }
    }
    .chat-wrapper {
      width: 66vw;
      // height: calc(100vh - #{$navbar-height} - 320px);
      height: 600px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      // background-color: blue;
      // border: 1px solid grey;
      // margin: 4px;
      #user-input {
        width: 66vw;
      }
    }
    .map-wrapper {
      display: none;
      @media #{$screen-middle-large} {
        display: inline-block;
        width: 230px;
        height: 230px;
        background-color: lightblue;
      }
    }
    .info-wrapper {
      padding: 0 0 0 4px;
      width: 66vw;
      @media #{$screen-middle-large} {
        width: auto;
      }
    }
  }
}
.tile-image {
  height: $tile-picture-xl;
  width: $tile-picture-xl;
  margin: 4px;
  border: 1px solid #e6e6e6;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    max-width: 100%;
    max-height: 100%;
  }
}
