$main-color-a: #5533ff;
$main-color-b: #20a2ff;
$main-color-b-hover: #258cd6;
$main-font: "Telex", sans-serif;
$screen-middle: "(min-width : 480px)";
$screen-large: "(min-width : 1024px)";
$btn-text-a: #aaaaaa;
$btn-text-b: #ffffff;

@import "./navigation";

* {
  margin: 0;
  padding: 0;
  color: black;
}

body {
  font-size: 14px;
  font-family: $main-font;
}

a {
  color: $main-color-a;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  .form-group {
    display: flex;
    flex-direction: column;
    width: 280px;
    input,
    textarea {
      padding: 5px 4px;
      border-radius: 4px;
      resize: none;
    }
    label {
      margin-top: 10px;
    }
  }
  #submit {
    background-color: $main-color-b;
    color: $btn-text-b;
    width: 280px;
    padding: 8px 0;
    border-radius: 4px;
    font-size: 1.1rem;
  }
  #submit:hover {
    background-color: $main-color-b-hover;
  }
}
