{{> navbar user}}
<h3>Find Tandems</h3>
<div class="vert-container">
    <div class="filter-container">
        Filter options
    </div>
    <div class="results-container">

        <ul>
            {{#each tandems}} {{> tandem_tile this}} {{/each }}
        </ul>
    </div>
</div>