{{> navbar user}}
<script>const user = {{{ userString }}}</script>
<script src='/javascripts/data.js'></script>
<script src='/javascripts/user-info.js'></script>
<script src='/javascripts/util/language-init.js'></script>
<script src='/javascripts/util/country-init.js'></script>
<script src='/javascripts/tile.js'></script>

<h3>Find Tandems</h3>
<div class="search-container">
    <div class="filter-container">
        <form action="/tandems/find" method="POST" id="form-container">
            <div class="form-group">
                <label>Language:</label>
                <select name="language" class="search selection" multiple="" id="multi-select-learning">
                    <option value="">Select a language</option>
                </select>
                <label for="country">Country</label>
                <select class="ui search selection dropdown" name="country" id="user-country">
                    <option value="">Country</option>
                </select>
                <label for="city">City:</label>
                <input type="text" name="city" placeholder="City" value="" id="user-city">
                <div class="age">
                    <label for="age">Min age:</label>
                    <input type="number" name="ageStart" min="18" maxlength="2" id="min-age">
                    <label for="age">Max age:</label>
                    <input type="number" name="ageEnd" min="18" maxlength="2" id="max-age">
                </div>
            </div>
            </br>
            <input type="submit" value="Find tandems" class="success-btn">
        </form>
    </div>

    <div class="results-container">
        <ul>
            {{#each tandems}}
            <div class="tile-interactive tandem" id="{{this.id}}">
                {{> tandem_tile this}}
            </div>
            {{/each }}
        </ul>
    </div>
</div>